:host {
    display: block;
    width: 200px;
    height: 200px;
    
    &.winner {
        color: darkcyan;
    }
}

.square {
    font-family: sans-serif;
    font-size: 150px;
    text-align: center;
    line-height: 200px;
    margin:0;
}

